{{ define "main" }}

<!-- Feature post by tag = "feature" -->

{{- range where .Site.RegularPages "Params.tags" "intersect" (slice "feature" ) | first 1 -}}
<section class="block md:flex relative group p-6 lg:p-10 space-y-6 md:space-x-6 my-14 bg-zinc-100 rounded-3xl hover:bg-blue-100">
  <figure class="basis-1/2 w-full aspect-video overflow-hidden rounded-2xl border">

    {{- if .Params.image }}

      {{- if (strings.HasPrefix .Params.image "http") }}

        <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ $.Name }}" style="width: 100%; height: 100%; object-fit: cover;">

      {{- else }}

        {{- with $imgfeature := resources.Get .Params.image }}
          {{ $imgfeature := $imgfeature.Resize "720x Q85" -}}
          <img class="object-cover group-hover:scale-105 transition duration-500 cursor-pointer" src="{{ $imgfeature.Permalink }}" alt="{{ $.Name }}" width="{{ $imgfeature.Width }}" height="{{ $imgfeature.Height }}">
        {{- end }}

      {{- end }}

    {{- end }}

  </figure>
  <div class="basis-1/2 self-center">
    <h2 class="text-2xl md:text-3xl lg:text-5xl font-bold mb-4"><a class="before:content-[''] before:z-10 before:top-0 before:right-0 before:left-0 before:bottom-0 before:absolute before:pointer-events-auto" href="{{ .Permalink }}">{{ .Title}}</a></h2>
  </div>
</section>

{{ end -}}

<!-- / End feature post  -->

<!-- Category Post removed -->
<!-- Start recent post (no subheading) -->

  <section class="mt-8 mb-16">

    {{ $pages := ( where site.RegularPages "Type" "in" site.Params.mainSections ) }}
    {{ $paginator := .Paginate ( $pages.ByParam "order" ) }}
    {{ $list := $paginator.Pages }}

    {{ $col1 := slice }}
    {{ $col2 := slice }}
    {{ $col3 := slice }}

    {{ range $i, $p := $list }}
      {{ $m := mod $i 3 }}
      {{ if eq $m 0 }}
        {{ $col1 = $col1 | append $p }}
      {{ else if eq $m 1 }}
        {{ $col2 = $col2 | append $p }}
      {{ else }}
        {{ $col3 = $col3 | append $p }}
      {{ end }}
    {{ end }}

    <div style="display:grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); column-gap: 1.5rem; row-gap: 2.5rem;">
      {{ range .Site.RegularPages.ByParam "order" }}
        {{- if and (ne .Params.draft true) (not (in .Params.tags "feature")) }}
          {{- partial "content/card" . -}}
        {{- end }}
      {{ end }}
    </div>

    <!-- Paginate here -->

    <div class="flex items-center mt-10">
      {{- if $paginator.HasPrev -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200 mr-auto" href="{{ $paginator.Prev.URL }}">← Previous</a>
      {{- end -}}

      {{- if $paginator.HasNext -}}
        <a class="border rounded-full px-6 py-2 hover:bg-zinc-200" href="{{ $paginator.Next.URL }}">Next →</a>
      {{- end -}}
    </div>

  </section>

<!-- / End recent post  -->

  {{/* Newsletter removed per request */}}

{{ end }}
