{{ define "main" }}

{{ if .Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body, {delimiters: [{left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}]});"></script>
{{ end }}

<div class="flex justify-center">
  <article class="md:col-span-2 prose lg:prose-lg max-w-5xl">
    <header class="not-prose mb-8">   
      <h1 class="text-4xl font-bold">{{ .Title }}</h1>
    </header>

    <div id="content" class="mb-8">
      {{- .Content -}}
    </div>

    <footer id="content-footer" class="not-prose">
    </footer>
  </article>
</div>

{{ end }}
