<article class="relative group bg-zinc-100 hover:bg-blue-100 rounded-3xl self-start">
	
	<a class="insert-link" href="{{ .Permalink }}"></a>

	<figure class="w-full overflow-hidden rounded-3xl">

		{{- if .Params.image }}

		  {{- if (strings.HasPrefix .Params.image "http") }}

			<img class="block w-full h-auto transition duration-500 cursor-pointer" src="{{ .Params.image }}" alt="{{ .Title }}">

		  {{- else }}

			{{- if or (strings.HasSuffix .Params.image ".gif") (strings.HasSuffix .Params.image ".GIF") (strings.HasSuffix .Params.image ".mp4") (strings.HasSuffix .Params.image ".webm") -}}
			  <img class="block w-full h-auto transition duration-500 cursor-pointer" src="/{{ .Params.image }}" alt="{{ $.Name }}">
			{{- else if or (strings.HasSuffix .Params.image ".png") (strings.HasSuffix .Params.image ".jpg") (strings.HasSuffix .Params.image ".jpeg") -}}
			  {{- with $img := resources.Get .Params.image -}}
			    {{- $img := $img.Process "resize 750x" -}}
			    <img class="block w-full h-auto transition duration-500 cursor-pointer" src="{{ $img.Permalink }}" alt="{{ $.Name }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
			  {{- end -}}
			{{- else -}}
			  <img class="block w-full h-auto transition duration-500 cursor-pointer" src="/{{ .Params.image }}" alt="{{ $.Name }}">
			{{- end -}}

		  {{- end -}}

		{{- end }}

	  </figure>


	<div class="p-6 text-left">

		<h3 class="my-4 text-2xl font-bold">{{ .LinkTitle }}</h3>

		<p class="text-normal leading-normal text-zinc-500 line-clamp-2">{{ .Params.description }}</p>

	</div>
</article>
